img{
  display: block;
}

.ListImageItem .ImageAction {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.ListImageItem:hover .ImageAction{
  visibility: visible;
  opacity: 1;
}

.footer-container {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  font-size: 0.8rem;
}

.footer-container p,
.footer-container a {
  font-size: 0.8rem;
  color: #FFF;
}

@media (min-width: 600px) {
  .footer-container{
    position: absolute;
    bottom: 0;
    padding: 1rem 2rem;
    text-align: left;
  }
}

footer .link-author {
  color: #5FF196;
  font-weight: 700;
}

.copyright {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .copyright{
    flex-direction: row;
  }
}